<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "../components/FirstComponent.vue";
import SecondComponent from "../components/SecondComponent.vue";
import { useCounterStore } from "../stores/counter";
const userCounter = useCounterStore();
function x(){
  
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent  @inc="x"></FirstComponent>
        <v-btn @click="userCounter.increment">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent @dec="x"></SecondComponent>
        <v-btn @click="userCounter.decrement">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
