<script lang="ts" setup>
import type itemlist from "@/stores/type/itemlist";
import { ref } from "vue";
import { useItemStore } from "../stores/selectedProducts";
const menuStore = useItemStore();

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const Add = (menus: itemlist) => {
  menuStore.Additem(menus);
};
</script>
<template>
  <v-container class="grey lighten-5">
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow-y: auto">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id"
              ><v-card width="180px" height="100px">
                <div>
                  <div class="text-center">
                    <label>{{ item.name }}</label>
                  </div>
                  <div class="text-center">
                    <label>{{ item.price }}</label>
                  </div>
                  <div class="text-center">
                    <V-btn @click="Add(item)">ADD</V-btn>
                  </div>
                </div>
              </v-card></v-col
            >
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container style="height: 50vh; overflow-y: auto">
          <v-table>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody v-if="menuStore.itesmList.length != 0">
              <tr v-for="item of menuStore.itesmList" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <p v-if="menuStore.itesmList.length == 0" style="text-align: center">
            No Data
          </p>
        </v-container>
        <div class="text-h2">Sum:{{ menuStore.sumList }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>

<!-- <div>
  {{ products }}
</div> -->
