<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-text-field
      label="Please input Number"
      v-model="num"
      :rules="[(v) => !!v || 'Number is not empty!!']"
    ></v-text-field>
    <v-row>
      <v-col cols="1" v-for="n in parseInt(num)" :key="n"> {{ n }} </v-col>
    </v-row>
  </v-container>
</template>
