<script lang="ts" setup>
import { ref } from "vue";
const imgs = ref("../../feeling_imgs/smile.png");
const names = ref("Smile");
function ch(img: string, name: string) {
  imgs.value = img;
  names.value = name;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="imgs"></v-img>
      </v-col>
      <v-col class="text-center text-h4"
        >{{ names }}
        <v-col
          ><v-btn
            width="500px"
            @click="ch('../../feeling_imgs/angry.png', 'Angry')"
            v-bind:color="names === 'Angry' ? 'yellow' : ''"
          >
            ANGRY
          </v-btn>
        </v-col>
        <v-col
          ><v-btn
            width="500px"
            @click="ch('../../feeling_imgs/cute.png', 'Cute')"
            v-bind:color="names === 'Cute' ? 'yellow' : ''"
          >
            CUTE
          </v-btn>
        </v-col>
        <v-col
          ><v-btn
            width="500px"
            @click="ch('../../feeling_imgs/excited.png', 'Excited')"
            v-bind:color="names === 'Excited' ? 'yellow' : ''"
          >
            EXCITED
          </v-btn>
        </v-col>
        <v-col
          ><v-btn
            width="500px"
            @click="ch('../../feeling_imgs/pain.png', 'Pain')"
            v-bind:color="names === 'Pain' ? 'yellow' : ''"
          >
            PAIN
          </v-btn>
        </v-col>
        <v-col
          ><v-btn
            width="500px"
            @click="ch('../../feeling_imgs/shocked.png', 'Shocked')"
            v-bind:color="names === 'Shocked' ? 'yellow' : ''"
          >
            SHOCKED
          </v-btn>
        </v-col>
        <v-col
          ><v-btn
            width="500px"
            @click="ch('../../feeling_imgs/smile.png', 'Smile')"
            v-bind:color="names === 'Smile' ? 'yellow' : ''"
          >
            SMILE
          </v-btn>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>

<!-- ../../feeling_imgs/angry.png -->
