<script setup lang="ts">
import SolveProblem4 from "@/views/SolveProblem4.vue";
import { ref } from "vue";
import { useCounterStore } from "../stores/counter";
const userCounter = useCounterStore();

</script>
<template>
  <div>First Component</div>
  <div>{{ userCounter.count }}</div>
  
</template>
