<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "../stores/counter";
const userCounter = useCounterStore();
</script>

<template>
  <div>Second Component</div>
  <div>{{ userCounter.count*2 }}</div>
  
</template>
